node_modules/
.nuxt/App.js
.nuxt/App.js
.nuxt/client.js
.nuxt/index.js
.nuxt/loading.html
.nuxt/router.js
.nuxt/sentry.client.js
.nuxt/server.js
.nuxt/store.js
.nuxt/utils.js
.nuxt/components/nuxt-build-indicator.vue
.nuxt/components/nuxt-error.vue
.nuxt/views/error.html
